<form {{formid}}>
	{% for field in form if field.id != 'csrf_token' %}
	<div class="form-group">
		{{ field.label }} {{ field }} {% for error in field.errors %} {{ error }} {%
		endfor %}
	</div>
	{% endfor %}

	<button class="btn btn-primary">Submit</button>
</form>

<!-- Like :( WHY is it showing the csrf token now it says right up there it should be hidden.... dies  -->
<!-- I made a whole mess of this thing...hgrrfhfhfhfh ue ue ue -->
<!-- Adding the  formId  thing in the form was a good idea I think but I wasn't able to succeed with the plan I had with it so I'm taking it out again for now-->
